

@import url('https://fonts.googleapis.com/css2?family=Karantina:wght@300;400;700&family=Labrada:ital,wght@0,100..900;1,100..900&family=Madimi+One&family=Molle&family=Rye&family=Titan+One&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Jacques+Francois&family=Ojuju:wght@200..800&display=swap');





* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}


// @media (max-width: 850px) {
//     .form {
//       grid-template-columns: 1fr;
//     }
  
//     .contact-info:before {
//       bottom: initial;
//       top: -75px;
//       right: 65px;
//       transform: scale(0.95);
//     }
  
//     .contact-form:before {
//       top: -13px;
//       left: initial;
//       right: 70px;
//     }
  
//     .square {
//       transform: translate(140%, 43%);
//       height: 350px;
//     }
  
//     .big-circle {
//       bottom: 75%;
//       transform: scale(0.9) translate(-40%, 30%);
//       right: 50%;
//     }
  
//     .text {
//       margin: 1rem 0 1.5rem 0;
//     }
  
//     .social-media {
//       padding: 1.5rem 0 0 0;
//     }
//   }
  
//   @media (max-width: 480px) {
//     .container {
//       padding: 1.5rem;
//     }
  
//     .contact-info:before {
//       display: none;
//     }
  
//     .square,
//     .big-circle {
//       display: none;
//     }
  
//     form,
//     .contact-info {
//       padding: 1.7rem 1.6rem;
//     }
  
//     .text,
//     .information,
//     .social-media p {
//       font-size: 0.8rem;
//     }
  
//     .title {
//       font-size: 1.15rem;
//     }
  
//     .social-icons a {
//       width: 30px;
//       height: 30px;
//       line-height: 30px;
//     }
  
//     .icon {
//       width: 23px;
//     }
  
//     .input {
//       padding: 0.45rem 1.2rem;
//     }
  
//     .btn {
//       padding: 0.45rem 1.2rem;
//     }
//   }
  