$first: white;
$second: #090c31;
$third: #5853ff;
$fourth: black;
$fifth: orange;
$sixth: yellow;
$dark: rgb(44,44,44);


$text1: 'Roboto';
$text2: 'cursive';
$text3: 'Averia Serif Libre';
$text4: 'Ojuju';
$text5: 'Jacques Francois';
$text6: 'Abril Fatface';
$text7: 'Karantina';
$text8: 'Labrada';
$text9: 'Madimi One';
$text10: 'Molle';
$text11: 'Rye';
$text12: 'Titan One';